@charset "UTF-8";
@import url(../fonts/stylesheet.css);
/*General*/
table.apg-table, .cabecera {
	clear: none;
	width: 79%;
	max-width: 586px;
}
.imagen {
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	max-width: 100%;
	display: block;
}
.imagen:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.estrellas div {
	display: inline!important;
}
.estrellas div:hover {
	color: #2ea2cc;
}
.estrellas .star-rating .star {
	font-size: 18px;
}
div.informacion .genericon, div.informacion .estrellas .star-rating .star, div.informacion .artprojectgroup {
	width: 15px;
	height: 15px;
	font-size: 15px;
}
div.informacion {
	background-color: #FFFFFF;
	float: right;
	padding: 10px;
	width: 15%;
	max-width: 220px;
	text-align: center;
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
div.informacion div.fila {
	padding: 10px 10px 0px;
	margin: 10px auto 0px;
	max-width: 190px;
}
div.informacion div.fila, div.informacion div.columna:nth-child(2n) {
	border-top: 1px solid #7AD03A;
}
div.informacion div.fila:first-child {
	border: none;
	margin-top: 0px;
}
div.informacion div.columna.final {
	display: none;
}
div.informacion div.fila.final {
	padding: 10px;
	margin: 0px auto 10px;
}
div.informacion a {
	text-decoration: none;
}
table.apg-table select, table.apg-table textarea {
	width: 100% !important;
}
table.apg-table textarea {
	min-height: 200px;
}

@media screen and (max-width: 806px) {
table.apg-table, .cabecera {
	clear: none;
	width: 100%;
}
div.informacion {
	display: table;
	float: none;
	margin: 0px 0px 10px 0px;
	max-width: 562px;
	width: auto;
}
div.informacion div.fila {
	display: table-row;
	width: 100%;
	border-top: 1px solid #7AD03A;
}
div.informacion div.fila:first-child {
	border: none;
}
div.informacion div.columna {
	display: table-cell;
	width: 50%;
	padding: 10px;
}
div.informacion div.fila, div.informacion div.columna, div.informacion div.columna:first-child {
	border-top: 1px solid #7AD03A;
}
div.informacion div.fila:first-child, div.informacion div.fila:first-child div.columna {
	border: none;
	margin-top: 0px;
}
}
